<h1>生産実績</h1>

<table id="product-result-table">
<thead>
  <tr>
    <th>製造日</th>
    <th>製造日(JP)</th>
    <th>製品</th>
    <th>オーナー</th>
    <th>製造数</th>
    <th>合計金額</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @product_results.each do |product_result| %>
  <tr>
    <td><%= product_result.transaction_date_time.strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><%= (product_result.transaction_date_time + 9.hours).strftime("%Y/%m/%d %H:%M:%S") %></td>
    <td><%= product_result.get_type_name%></td>
    <td><%= product_result.user.user_name %></td>
    <td><%= product_result.create_count %></td>
    <td><%= number_with_delimiter product_result.sum_price %></td>
    <td><%= link_to 'Show', product_result %></td>
    <td><%= link_to 'Edit', edit_product_result_path(product_result) %></td>
    <td><%= link_to 'Destroy', product_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Product result', select_product_results_path %>
