<h1>Listing user_lists</h1>

<table>
  <tr>
    <th>User</th>
    <th>User name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_lists.each do |user_list| %>
  <tr>
    <td><%= user_list.user_id %></td>
    <td><%= user_list.user_name %></td>
    <td><%= link_to 'Show', user_list %></td>
    <td><%= link_to 'Edit', edit_user_list_path(user_list) %></td>
    <td><%= link_to 'Destroy', user_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User list', new_user_list_path %>
