<p id="notice"><%= notice %></p>

<h2>原料不足把握</h2>

<%# FIXME viewの中にドメインがいるので修正する %>
<table class="table assets">
  <tbody>
    <tr>
      <th>生産商品名</th>
      <td><%= @item.type_name %> (<%= @item.type_name_ja.text %>)</td>
    </tr>
    <tr>
      <th>生産可能可否</th>
      <td>
        <% if @materials.any? { |m| m.shortage_material?(@create_count,@station_id) } || @materials.empty? %>
        <span class="label label-important">生産不可</span>
        <% else %>
        <span class="label label-info">生産可能</span>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>商品概要</th>
      <td><%= @item.description_ja.text %></td>
    </tr>
  </tbody>
</table>

<hr/>


<table id="asset-list-table">
<thead>
  <tr>
    <th width="60px">状況</th>
    <th width="60px">アイテムID</th>
    <th>アイテム名(英語)</th>
    <th>アイテム名</th>
    <th>在庫数</th>
    <th>必要量</th>
    <th>不足数</th>
  </tr>
</thead>

<tbody>
<% @materials.each do |material| %>
  <tr>
    <td>
      <center>
        <% if material.shortage_material?(@create_count,@station_id) %>
          <span class="label label-important">不足</span>
        <% else %>
          <span class="label label-info">充足</span>
        <% end %>
      </center>
    </td>
    <td><%= material.try(:material).try(:type_id) %></td>
    <td><%= material.try(:material).try(:type_name) %></td>
    <td><%= material.try(:material).try(:type_name_ja).try(:text) %></td>
    <td><%= material.asset(@station_id).try(:quantity) %></td>
    <td><%= material.requisite_amount_for_create(@create_count) %></td>
    <td><%= material.shortage_count(@create_count,@station_id) %></td>
  </tr>
<% end %>
</tbody>
</table>


<center>
<%= link_to material_shortages_path, class: 'btn' do %>
  <i class="icon-chevron-left"></i> 原料把握不足確認画面へ戻る
<% end %>
</center>
