<h1>Listing blue_print_purchases</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Use count</th>
    <th>Price</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blue_print_purchases.each do |blue_print_purchase| %>
  <tr>
    <td><%= blue_print_purchase.get_type_name %></td>
    <td><%= blue_print_purchase.use_count %></td>
    <td><%= blue_print_purchase.price %></td>
    <td><%= blue_print_purchase.comment %></td>
    <td><%= link_to 'Show', blue_print_purchase %></td>
    <td><%= link_to 'Edit', edit_blue_print_purchase_path(blue_print_purchase) %></td>
    <td><%= link_to 'Destroy', blue_print_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blue print purchase', new_blue_print_purchase_path %>
