<h1>在庫マスタ</h1>

<table id="asset-list-table">
<thead>
  <tr>
    <th>アイテムID</th>
    <th>在庫</th>
    <th>アイテム名</th>
    <th>ステーション</th>
    <th>Flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @asset_lists.each do |asset_list| %>
  <tr>
    <td><%= asset_list.item_id %></td>
    <td><%= asset_list.quantity %></td>
    <td><%= asset_list.get_type_name %></td>
    <td><%= asset_list.location_id %></td>
    <td><%= asset_list.flag %></td>
    <td><%= link_to '詳細', asset_list %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

