<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @cost.type_id %>
</p>

<p>
  <b>Per price:</b>
  <%= @cost.per_price %>
</p>

<p>
  <b>Type:</b>
  <%= @cost.type %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
