<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @delivery.item.type_name %>
</p>

<p>
  <b>Quantity:</b>
  <%= @delivery.quantity %>
</p>

<p>
  <b>Station:</b>
  <%= @delivery.station.station_name %>
</p>

<p>
  <b>出庫日:</b>
  <%= @delivery.add_date %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
