<%= form_for(@material_purchase) do |f| %>
  <% if @material_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@material_purchase.errors.count, "error") %> prohibited this material_purchase from being saved:</h2>

      <ul>
      <% @material_purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.text_field :type_id ,:value => @material_purchase.get_type_name%>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :station_id %><br />
    <%= f.text_field :station_id ,:value => @material_purchase.get_station_name || '' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
