<h1>Listing material_purchases</h1>

<table id="purchases-table">
<thead>
  <tr>
    <th>Transaction</th>
    <th>Type</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Station</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @material_purchases.each do |material_purchase| %>
  <tr>
    <td><%= material_purchase.transaction_id %></td>
    <td><%= material_purchase.get_type_name %></td>
    <td><%= material_purchase.quantity %></td>
    <td><%= material_purchase.price %></td>
    <td><%= material_purchase.get_station_name %></td>
    <td><%= link_to 'Show', material_purchase %></td>
    <td><%= link_to 'Edit', edit_material_purchase_path(material_purchase) %></td>
    <td><%= link_to 'Destroy', material_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Material purchase', new_material_purchase_path %>
