<h1>原料仕入れマスタ</h1>

<table id="purchases-table">
<thead>
  <tr>
    <th>Transaction</th>
    <th>原料名</th>
    <th>数量</th>
    <th>価格</th>
    <th>ステーション</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @material_purchases.each do |material_purchase| %>
  <tr>
    <td><%= material_purchase.transaction_id %></td>
    <td><%= material_purchase.get_type_name %></td>
    <td><%= material_purchase.quantity %></td>
    <td><%= number_with_delimiter material_purchase.price %></td>
    <td><%= material_purchase.get_station_name %></td>
    <td><%= link_to 'Show', material_purchase %></td>
    <td><%= link_to 'Edit', edit_material_purchase_path(material_purchase) %></td>
    <td><%= link_to 'Destroy', material_purchase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Material purchase', new_material_purchase_path %>
