<li class="nav-header">購買管理</li>
<li><%= link_to "原料仕入れマスタ", material_purchases_path %></li>
<li> <%= link_to "設計図仕入れマスタ", blue_print_purchases_path %></li>
<li> <%= link_to "原料不足把握", material_shortages_path %></li>

<li class="nav-header">在庫管理</li>
<li><%= link_to "在庫マスタ", select_asset_list_masters_path %></li>
<li><%= link_to "在庫棚卸", inventory_clearances_path %></li>

<li class="nav-header">生産管理</li>
<li><%= link_to "生産実績マスタ", product_results_path %></li>
<li><%= link_to "製品原価", manufacturing_costs_path %></li>

<li class="nav-header">販売管理</li>
<li><%= link_to "販売マスタ", product_sales_path %></li>

<li class="nav-header">財務管理</li>
<li><%= link_to "財務状況", management_accounts_path %></li>
<li><%= link_to "財務記録マスタ", wallet_journals_path %></li>

<li class="nav-header">各種ツール</li>
<li><%= link_to "マーケット状況確認", market_orders_path %></li>

<li class="nav-header">マスタ管理</li>
<li><%= link_to "ユーザ管理", user_lists_path %></li>
<li><%= link_to "コープロケーション管理", corp_locations_path %></li>
<li><%= link_to "在庫棚卸設定", inventory_clearance_settings_path %></li>
