<h1>Listing product_sales</h1>

<table id="product-sales-table">
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Quantity</th>
      <th>Type</th>
      <th>Price</th>
      <th>Client</th>
      <th>Station</th>
      <th>Journal transaction</th>
      <th>Transaction date time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @product_sales.each do |product_sale| %>
    <tr>
    <td><%= product_sale.transaction_id %></td>
    <td><%= product_sale.get_type_name %></td>
    <td><%= product_sale.type_id %></td>
    <td><%= product_sale.price %></td>
    <td><%= product_sale.client_id %></td>
    <td><%= product_sale.get_station_name %></td>
    <td><%= product_sale.journal_transaction_id %></td>
    <td><%= product_sale.transaction_date_time %></td>
    <td><%= link_to 'Show', product_sale %></td>
    <td><%= link_to 'Edit', edit_product_sale_path(product_sale) %></td>
    <td><%= link_to 'Destroy', product_sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Product sale', new_product_sale_path %>
